PORT=3000
DATABASE_URL="postgresql://postgres:password123@localhost:5432/adminph?schema=public"
DB_USER=postgres
DB_PASSWORD=password123
DB_NAME=adminph

JWT_ACCESS_SECRET=super-secret-key-for-access-tokens
JWT_REFRESH_SECRET=even-more-secret-key-for-refresh-tokens
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

NODE_ENV=development
